.main-slogan {
    height: 675px;
    background-color: $primary;
    position: relative;

    .backgroundImage {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            @extend %img;
        }
    }

    .mainSlogan {

        position: absolute;
        top: 114px;
        left: 0;
        color: #fff;

        .title {
            h1 {
                position: relative;
                max-width: 493px;
                line-height: 64.57px;

                img {
                    position: absolute;
                    right: 90px;
                    top: 100%;

                }
            }

            p {
                max-width: 465px;
                margin: 24px 0 0;
                line-height: 24px;
            }

            .btnInquiry {
                @extend %btn;
                padding: 18px 32px;
                margin: 32px 0 64px;
                background-color: $secondary;
            }
        }

        >span {
            display: inline-block;
            width: 475px;
            border-top: 1px solid $grey80;
        }

        .counter {
            margin: 64px 0 0;

            ul {
                display: grid;
                grid-template-columns: repeat(3, max-content);
                column-gap: 59px;
                row-gap: 32px;

                li {
                    font-size: 12px;

                    span {
                        display: block;
                        margin: 0 0 13px;
                        @include Font($f-s: 28px, $l-h: 32.28px, $f-w: 700)
                    }
                }
            }
        }
    }
}

.slogan {
    .cards {
        max-width: 1115px;

        .card {
            padding: 8px;

            .cardImage {
                max-width: 431px;

                img {
                    @extend %img;
                }
            }

            .content {
                max-width: 580px;

                /*  @media (min-width: 769px)
                    {
                        padding: ;
                    } */
                .title {
                    max-width: 533px;
                }

                .text {
                    p {
                        @include Font ($f-s: $lg, $l-h: 24px);

                        &:not(:last-of-type) {
                            margin: 0 0 30px 0;
                        }
                    }
                }
            }
        }
    }
}

.featured {
    margin: 64px 0;

    .title {
        @include Flex($a-i: center, $j-c: space-between);
        margin: 0 0 27px;

        h3 {
            font-size: 30px;
        }

        a {
            display: none;
            color: $primary;

            @media (min-width: 769px) {
                display: inline-block;
            }
        }
    }

    .cards {
        @include Flex ($g: 24px, $wrap: wrap);


        @media (min-width: 481px) {
            @include Flex ($g: 0, $r-g: 14px);
            justify-content: space-between;

        }

        .card {
            width: 100%;
            padding: 8px;
            border: 1px solid #0000001c;
            border-radius: 12px;

            @media (min-width: 481px) {
                width: 48.5%;
            }

            @media (min-width: 769px) {
                width: 32%;
            }


            .cardImage {
                position: relative;
                border-radius: 12px;
                overflow: hidden;

                .favorites {
                    @include Flex($a-i: center, $j-c: center);
                    width: 40px;
                    height: 40px;
                    background-color: #ffffffbd;
                    cursor: pointer;
                    border-radius: 12px;
                    position: absolute;
                    top: 16px;
                    right: 16px;

                    .heartIcon {
                        width: 24px;
                        height: 24px;

                        path {
                            &.red {
                                fill-opacity: 1;
                                fill: #E94562;
                            }
                        }

                    }
                }

                img {
                    @extend %img;
                }
            }

            .info {
                padding: 16px;

                .rent {
                    @extend %secondBtn;
                    background-color: $pending;
                    color: $secondary;
                }

                .sale {
                    @extend %secondBtn;
                    background-color: $successLight;
                    color: $success;
                }

                h4 {
                    margin: 16px 0;

                    a {
                        color: $grey100;
                        font-family: 'Khmer MN';
                        line-height: 43.51px;
                        transition: all 0.3s;

                        &:hover {
                            color: $secondary;
                        }
                    }
                }

                .location {
                    @include Flex($a-i: center, $g: 7px);

                    p {
                        color: $grey80;
                    }
                }

                ul {
                    display: flex;
                    margin: 22px 0;

                    li {
                        user-select: none;
                        font-size: 12px;
                        color: $grey100;

                        svg {
                            width: 14px;
                            height: 14px;
                            margin: 0 8px 0 0;

                            @media (min-width: 481px) and (max-width: 768px) {
                                margin: 0 3px 0 0;
                            }
                        }

                        &:not(:last-of-type) {
                            margin: 0 25px 0 0;

                            @media (min-width: 481px) and (max-width: 768px) {
                                margin: 0 7px 0 0;
                            }
                        }
                    }
                }

                .detail {
                    @include Flex ($a-i: center, $j-c: space-between);

                    p {
                        @include Font ($f-s: 20px, $f-w: 600);
                        color: $secondary;
                        user-select: none;


                        span {
                            font-size: $sm;
                            color: $grey70;

                            @media (min-width: 481px) and (max-width: 768px) {

                                font-size: 10px;
                            }
                        }

                        @media (min-width: 481px) and (max-width: 768px) {

                            font-size: 16px;
                        }

                    }

                    a {
                        @extend %btn;
                        text-align: center;
                        padding: 12px 28px;
                        background-color: #fff;
                        color: $secondary;
                        border: 1px solid $secondary;
                        transition: all 0.3s;

                        &:hover {
                            background-color: $secondary;
                            border-color: $secondary;
                            color: #fff;
                        }

                        @media (min-width: 481px) and (max-width: 768px) {
                            padding: 8px 10px;
                            font-size: 12px;
                        }

                        @media (min-width: 769px) and (max-width: 1024px) {
                            padding: 8px 20px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .seeMob {
        text-align: center;
        margin: 32px 0 0;

        a {
            color: $primary;
        }

        @media (min-width: 769px) {
            display: none;
        }
    }
}