@mixin Flex ($a-i: null, $j-c: null, $wrap: null, $g: null, $r-g: null, $c-g: null) {
    display: flex;
    align-items: $a-i;
    justify-content: $j-c;
    flex-wrap: $wrap;
    gap: $g;
    column-gap: $c-g;
    row-gap: $r-g;
}

@mixin Font ($f-s: null, $f-w: null, $l-h: null, $l-s: null) {
    font-size: $f-s;
    font-weight: $f-w;
    line-height: $l-h;
    letter-spacing: $l-s;
}