$primary: #123E56;
$secondary: #DE8556;
$success: #00C566;
$successLight: #E6F9F0;
$error: #FF4747;
$failed: #FFEDED;
$warning: #FACC15;
$pending: #FFF2ED;
$refund: #FFFAE8;
$unpaid: #F4F0FF;
$yellow: #FFC107;
$purple: #936DFF;
$grey10: #FDFDFD;
$grey20: #ECF1F6;
$grey30: #E3E9ED;
$grey40: #D1D8DD;
$grey50: #BFC6CC;
$grey60: #9CA4AB;
$grey70: #878690;
$grey80: #66707A;
$grey90: #434E58;
$grey100: #1F2C37;
$bg: #fff;
$bgCard: #fff;
$color: #000;
$xl: 16px;
$lg: 14px;
$sm: 12px;
$h1: 56px;
$h2: 48px;
$h3: 38px;
$h4: 24px;
$h5: 18px;
$fontBody: 'Plus Jakarta Sans', sans-serif;
$fontHeading: 'Cardo', serif;