.featured .cards .card .info .detail a, .main-slogan .mainSlogan .title .btnInquiry, .headerBox .wrapper .right .register .btnRegister, .featured .cards .card .info .sale, .featured .cards .card .info .rent {
  display: inline-block;
  border-radius: 2px;
  color: #fff;
}

.featured .cards .card .info .sale, .featured .cards .card .info .rent {
  display: inline-block;
  padding: 4px 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.featured .cards .card .cardImage img, .slogan .cards .card .cardImage img, .main-slogan .backgroundImage img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.headerBox .wrapper .btnToggle, .headerBox .wrapper .right .buy {
  width: 40px;
  height: 40px;
  background-color: #66707A;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
}
body ::-moz-selection {
  background-color: #DE8556;
  color: #fff;
}
body ::selection {
  background-color: #DE8556;
  color: #fff;
}

.container {
  padding: 0 20px;
  max-width: 1140px;
  margin: auto;
  position: relative;
}
@media (min-width: 480px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cardo", serif;
  font-weight: 400;
}

h2 {
  line-height: 54px;
}

h3 {
  line-height: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Khmer MN";
  src: url("../src/fonts/Khmer_MN.ttc");
}
.headerBox {
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  background-color: #123E56;
}
.headerBox .wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerBox .wrapper a {
  color: #fff;
}
.headerBox .wrapper .logo {
  color: #fff;
}
.headerBox .wrapper .logo span {
  color: #DE8556;
}
.headerBox .wrapper .navbar {
  display: none;
}
@media (min-width: 768px) {
  .headerBox .wrapper .navbar {
    display: block;
  }
}
.headerBox .wrapper .navbar .menu {
  display: flex;
  align-items: baseline;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
@media (min-width: 992px) {
  .headerBox .wrapper .navbar .menu {
    -moz-column-gap: 44px;
         column-gap: 44px;
  }
}
@media (min-width: 1200px) {
  .headerBox .wrapper .navbar .menu {
    -moz-column-gap: 64px;
         column-gap: 64px;
  }
}
.headerBox .wrapper .navbar .menu a {
  padding: 11px 0;
  display: block;
}
.headerBox .wrapper .navbar .menu a i {
  padding: 0 0 0 8px;
  font-size: 16px;
}
.headerBox .wrapper .navbar .menu .subMenu {
  display: none;
}
.headerBox .wrapper .right {
  display: none;
}
@media (min-width: 768px) {
  .headerBox .wrapper .right {
    display: flex;
    align-items: center;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .headerBox .wrapper .right {
    padding: 0 0 0 50px;
  }
}
.headerBox .wrapper .right .register .btnRegister {
  padding: 12px 18px;
  background-color: #DE8556;
  font-weight: 600;
}
@media (min-width: 992px) {
  .headerBox .wrapper .right .register .btnRegister {
    padding: 12px 28px;
  }
}
.headerBox .wrapper .btnToggle {
  cursor: pointer;
}
@media (min-width: 768px) {
  .headerBox .wrapper .btnToggle {
    display: none;
  }
}
.headerBox .wrapper .btnToggle .icon {
  width: 16px;
  height: 10px;
  position: relative;
}
.headerBox .wrapper .btnToggle .icon span {
  position: absolute;
  display: block;
  right: 0;
  border-top: 2px solid #fff;
  transition: all 0.5s;
}
.headerBox .wrapper .btnToggle .icon span:first-of-type {
  width: 16px;
  top: 0;
}
.headerBox .wrapper .btnToggle .icon span:nth-of-type(2) {
  width: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.headerBox .wrapper .btnToggle .icon span:nth-of-type(2).active {
  transform: translate(-4px, -50%);
}
.headerBox .wrapper .btnToggle .icon span:last-of-type {
  width: 8px;
  bottom: 0;
}
.headerBox .wrapper .btnToggle .icon span:last-of-type.active {
  transform: translateX(-8px);
}

.main-slogan {
  background-color: #123E56;
  position: relative;
  height: 855px;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .main-slogan {
    height: 775px;
  }
}
.main-slogan .backgroundImage {
  display: none;
  position: absolute;
  bottom: 0;
  right: -250px;
}
@media (min-width: 768px) {
  .main-slogan .backgroundImage {
    display: block;
    width: 550px;
  }
}
@media (min-width: 992px) {
  .main-slogan .backgroundImage {
    right: -150px;
    width: 650px;
  }
}
@media (min-width: 1200px) {
  .main-slogan .backgroundImage {
    width: 700px;
    right: 0;
  }
}
@media (min-width: 1400px) {
  .main-slogan .backgroundImage {
    width: 778px;
  }
}
.main-slogan .mainSlogan {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  top: 90px;
  left: 0;
  color: #fff;
}
@media (min-width: 576px) {
  .main-slogan .mainSlogan {
    max-width: 350px;
  }
}
@media (min-width: 768px) {
  .main-slogan .mainSlogan {
    max-width: 475px;
    margin: 0;
  }
}
.main-slogan .mainSlogan .title {
  text-align: center;
}
@media (min-width: 768px) {
  .main-slogan .mainSlogan .title {
    text-align: left;
  }
}
.main-slogan .mainSlogan .title h1 {
  position: relative;
  font-size: 35px;
  line-height: 65px;
}
@media (min-width: 576px) {
  .main-slogan .mainSlogan .title h1 {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .main-slogan .mainSlogan .title h1 {
    font-size: 56px;
  }
}
.main-slogan .mainSlogan .title h1 img {
  position: absolute;
  width: 207px;
  right: 20px;
  top: 100%;
}
@media (min-width: 576px) {
  .main-slogan .mainSlogan .title h1 img {
    right: 30px;
  }
}
@media (min-width: 768px) {
  .main-slogan .mainSlogan .title h1 img {
    right: 70px;
  }
}
.main-slogan .mainSlogan .title p {
  margin: 24px 0 0;
  line-height: 24px;
}
.main-slogan .mainSlogan .title .btnInquiry {
  padding: 18px 32px;
  margin: 32px 0 64px;
  background-color: #DE8556;
}
.main-slogan .mainSlogan > span {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #66707A;
}
.main-slogan .mainSlogan .counter {
  margin: 64px 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  -moz-column-gap: 59px;
       column-gap: 59px;
  row-gap: 32px;
}
@media (min-width: 768px) {
  .main-slogan .mainSlogan .counter {
    flex-direction: row;
  }
}
.main-slogan .mainSlogan .counter li {
  font-size: 12px;
}
.main-slogan .mainSlogan .counter li span {
  display: block;
  margin: 0 0 13px;
  font-size: 28px;
  font-weight: 700;
  line-height: 32.28px;
}

.slogan {
  margin: 100px 0;
}
.slogan .cards {
  display: flex;
  justify-content: space-between;
  row-gap: 32px;
  flex-direction: column;
  max-width: 1115px;
}
@media (min-width: 768px) {
  .slogan .cards {
    flex-direction: row;
  }
}
.slogan .cards .card {
  padding: 8px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .slogan .cards .card {
    width: 50%;
  }
}
@media (min-width: 576px) {
  .slogan .cards .card .cardImage {
    max-width: 431px;
    height: 100%;
  }
}
.slogan .cards .card:nth-child(2) {
  display: flex;
  align-items: center;
}
.slogan .cards .card .content {
  display: flex;
  row-gap: 24px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .slogan .cards .card .content {
    max-width: 580px;
    row-gap: 10px;
  }
}
@media (min-width: 992px) {
  .slogan .cards .card .content {
    row-gap: 30px;
  }
}
.slogan .cards .card .content .title {
  max-width: 533px;
}
.slogan .cards .card .content .title h3 {
  font-size: 28px;
}
@media (min-width: 992px) {
  .slogan .cards .card .content .title h3 {
    font-size: 32px;
  }
}
.slogan .cards .card .content p {
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .slogan .cards .card .content p {
    line-height: 21px;
  }
}
@media (min-width: 992px) {
  .slogan .cards .card .content p {
    line-height: 24px;
  }
}

.featured {
  margin: 100px 0;
}
.featured .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 27px;
}
.featured .title h3 {
  font-size: 30px;
}
.featured .title a {
  display: none;
  color: #123E56;
}
@media (min-width: 769px) {
  .featured .title a {
    display: inline-block;
  }
}
.featured .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (min-width: 481px) {
  .featured .cards {
    display: flex;
    gap: 0;
    row-gap: 14px;
    justify-content: space-between;
  }
}
.featured .cards .card {
  width: 100%;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1098039216);
  border-radius: 12px;
}
@media (min-width: 481px) {
  .featured .cards .card {
    width: 48.5%;
  }
}
@media (min-width: 769px) {
  .featured .cards .card {
    width: 32%;
  }
}
.featured .cards .card .cardImage {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.featured .cards .card .cardImage .favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7411764706);
  cursor: pointer;
  border-radius: 12px;
  position: absolute;
  top: 16px;
  right: 16px;
}
.featured .cards .card .cardImage .favorites .heartIcon {
  width: 24px;
  height: 24px;
}
.featured .cards .card .cardImage .favorites .heartIcon path.red {
  fill-opacity: 1;
  fill: #E94562;
}
.featured .cards .card .info {
  padding: 16px;
}
.featured .cards .card .info .rent {
  background-color: #FFF2ED;
  color: #DE8556;
}
.featured .cards .card .info .sale {
  background-color: #E6F9F0;
  color: #00C566;
}
.featured .cards .card .info h4 {
  margin: 16px 0;
}
.featured .cards .card .info h4 a {
  color: #1F2C37;
  font-family: "Khmer MN";
  line-height: 43.51px;
  transition: all 0.3s;
}
.featured .cards .card .info h4 a:hover {
  color: #DE8556;
}
.featured .cards .card .info .location {
  display: flex;
  align-items: center;
  gap: 7px;
}
.featured .cards .card .info .location p {
  color: #66707A;
}
.featured .cards .card .info ul {
  display: flex;
  margin: 22px 0;
}
.featured .cards .card .info ul li {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 12px;
  color: #1F2C37;
}
.featured .cards .card .info ul li svg {
  width: 14px;
  height: 14px;
  margin: 0 8px 0 0;
}
@media (min-width: 481px) and (max-width: 768px) {
  .featured .cards .card .info ul li svg {
    margin: 0 3px 0 0;
  }
}
.featured .cards .card .info ul li:not(:last-of-type) {
  margin: 0 25px 0 0;
}
@media (min-width: 481px) and (max-width: 768px) {
  .featured .cards .card .info ul li:not(:last-of-type) {
    margin: 0 7px 0 0;
  }
}
.featured .cards .card .info .detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured .cards .card .info .detail p {
  font-size: 20px;
  font-weight: 600;
  color: #DE8556;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.featured .cards .card .info .detail p span {
  font-size: 12px;
  color: #878690;
}
@media (min-width: 481px) and (max-width: 768px) {
  .featured .cards .card .info .detail p span {
    font-size: 10px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .featured .cards .card .info .detail p {
    font-size: 16px;
  }
}
.featured .cards .card .info .detail a {
  text-align: center;
  padding: 12px 28px;
  background-color: #fff;
  color: #DE8556;
  border: 1px solid #DE8556;
  transition: all 0.3s;
}
.featured .cards .card .info .detail a:hover {
  background-color: #DE8556;
  border-color: #DE8556;
  color: #fff;
}
@media (min-width: 481px) and (max-width: 768px) {
  .featured .cards .card .info .detail a {
    padding: 8px 10px;
    font-size: 12px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .featured .cards .card .info .detail a {
    padding: 8px 20px;
    font-size: 14px;
  }
}
.featured .seeMob {
  text-align: center;
  margin: 32px 0 0;
}
.featured .seeMob a {
  color: #123E56;
}
@media (min-width: 769px) {
  .featured .seeMob {
    display: none;
  }
}

footer {
  background-color: green;
  grid-area: footer;
}/*# sourceMappingURL=style.css.map */