.headerBox {
    background-position: right 0 bottom 0;
    background-repeat: no-repeat;
    background-color: $primary;

    .wrapper {
        height: 100px;
        @include Flex($j-c: space-between, $a-i: center);

        a {
            color: #fff;
        }

        .logo {
            color: #fff;

            span {
                color: $secondary;
            }
        }

        .navbar {
            display: none;
            @media (min-width: 768px) {
                display: block;
            }
            .menu {
                @include Flex($c-g: 22px, $a-i: baseline);

                @media (min-width: 992px) {
                    column-gap: 44px;
                }

                @media (min-width: 1200px) {
                    column-gap: 64px;
                }

                a {
                    padding: 11px 0;
                    display: block;

                    i {
                        padding: 0 0 0 8px;
                        font-size: 16px;
                    }
                }

                .subMenu {
                    display: none;
                }
            }
        }

        .right {
            display: none;

            @media (min-width: 768px) {
                @include Flex($c-g: 24px, $a-i: center);
            }

            @media (min-width: 1024px) {
                padding: 0 0 0 50px;
            }

            .buy {
                @extend %circle-btn;
            }

            .register {
                .btnRegister {
                    @extend %btn;
                    padding: 12px 18px;
                    background-color: $secondary;
                    font-weight: 600;

                    @media (min-width: 992px) {
                        padding: 12px 28px;
                    }
                }
            }

        }

        .btnToggle {
            @extend %circle-btn;
            cursor: pointer;

            @media (min-width: 768px) {
                display: none;
            }

            .icon {
                width: 16px;
                height: 10px;
                position: relative;

                span {
                    position: absolute;
                    display: block;
                    right: 0;
                    border-top: 2px solid #fff;
                    transition: all 0.5s;

                    &:first-of-type {
                        width: 16px;
                        top: 0;

                    }

                    &:nth-of-type(2) {
                        width: 12px;
                        top: 50%;
                        transform: translateY(-50%);

                        &.active {
                            transform: translate(-4px, -50%);
                        }
                    }

                    &:last-of-type {
                        width: 8px;
                        bottom: 0;

                        &.active {
                            transform: translateX(-8px);
                        }
                    }
                }

            }
        }

    }
}